# package directories
/node_modules/
jspm_packages

# Serverless directories
.serverless
.esbuild
.DS_STORE

# Webpack directories
.webpack
.eslintcache

#Exlcuding env files
.env*

#Exluding jest coverage file
/coverage/

#Excluding webpack dist file
/dist/